input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}
.Contenedor{
    width: 80%;
    height: 1200px;
    background: skyblue ;
}
#InfoContacto{
  left: 41%;
  position: relative;
  font-size: 15px;
  font-family: cursive;
}
fieldset{
    background-color: azure;
}
fieldset legend{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color:#1cb495;
}
#TodosContactos div{
    float:left;
    padding: 22px;
    border: solid 2px;
    margin: 3px;
    width: 28%;
    height: 12%;
    background-color: lightblue;
    overflow:auto;
}
@media only screen and (max-width: 800px) {
     #TodosContactos div{
        width: 80%;
        height: 10%;
         padding: 22px 22px;
    }
    fieldset{
        position: relative;
        left: 5%;
    }
    #Nombre{
        width: 100%;
    }
    #Telefono{
        width: 100%;
    }
    #Email{
        width: 100%;
    }
    #InfoContacto{
        left:5%;
  width: 100%;
  position: relative;
  font-size: 15px;
  font-family: cursive;
}
}
table{
}
tr:nth-child(even) {background-color: #f2f2f2}

table th, td {
    border-bottom: 1px solid #ddd;
}
tbody{
    background: white;
}

.btn {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		background-color: #1cb495;
		border-radius: 6px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.75em;
		line-height: 2.75em;
		padding: 0 1.125em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
}
input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		background-color: #1cb495;
		border-radius: 6px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.5em;
        width: 45%;
		line-height: 2.5em;
		padding: 0 1.125em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}
input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #1fcaa7;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #199e83;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			opacity: 0.5;
		}
@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}
input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-moz-transition: border-color 0.2s ease, background-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
		-ms-transition: border-color 0.2s ease, background-color 0.2s ease;
		transition: border-color 0.2s ease, background-color 0.2s ease;
		background-color: transparent;
		border-radius: 6px;
		border: none;
		border: solid 2px rgba(255, 255, 255, 0.35);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}
input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			-moz-animation: focus 0.1s;
			-webkit-animation: focus 0.1s;
			-ms-animation: focus 0.1s;
			animation: focus 0.1s;
			background-color: rgba(255, 255, 255, 0.125);
			border-color: #1cb495;
		}
/*#boton1 {
  border-color: $blue;
  color: black;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
#boton1:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}*/